{% extends "base.html" %}

{% block title %}
<title>Blog-My-BLogs</title>
<style>
    legend{
        text-align: center;
        font-family: cursive;
        font-weight: 700;
        font-size: xx-large;
    }
    div.card{
   
   float: left;
   width: 30%;
}
</style>
{% endblock %}



{% block content %}
<div class="container">
    <legend>Your Blogs</legend>
    {% for blog in blogs %}
    <div class="card text-center my-2 mx-3">
        <div class="card-header">
            <a href="{{url_for('edit',id=blog.key.id(),title=blog.title,body=blog.body)}}"><button class="btn btn-warning btn-small">Edit</button></a>
            Author: {{blog.author}}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{blog.title}}</h5>
            <p class="card-text">{{blog.body}}</p>
            <a href="#" class="btn btn-primary">Read more</a>
        </div>
        <div class="card-footer text-muted">
            {{blog.date}}
            <form action="{{url_for('delete',id=blog.key.id())}}" method="post">
            <button style="display: block; margin: auto" class="btn btn-danger btn-small" type="submit">Delete</button>
        </form>
        </div>
    </div>
    {% endfor %}
    
</div>
{% endblock %}